<!--

  This program is free software; you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation; either version 2 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program; if not, write to the Free Software
  Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA

 (c)Copyright 2006 Hewlett-Packard Development Company, LP.

-->

<?xml version="1.0" encoding="ISO-8859-1" ?>
<scenario>


<counter>
  <counterdef name="reference-id-counter" init="1"></counterdef>
</counter>

<traffic>

   <receive channel="channel-1">
    <message name="first-query-req">
    </message>
    <action>
      <set-value name="reference-id" format="$(reference-id-counter)"></set-value>
      <inc-counter name="reference-id-counter"></inc-counter>
      <store name="DIALOG-ID" entity="dialogue-id"></store>
      <store name="REFERENCE-ID" entity="reference-id"></store>
      <store name="SEQUENCE-ID" entity="sequence-number"></store>
    </action>
   </receive>

   <send channel="channel-1">
    <action>
      <restore name="DIALOG-ID" entity="dialogue-id"></restore>
      <restore name="REFERENCE-ID" entity="reference-id"></restore>
      <restore name="SEQUENCE-ID" entity="sequence-number"></restore>
    </action>
     <message name="first-query-resp">
     </message>
   </send>

   <receive channel="channel-1">
    <message name="next-query-req">
    </message>
    <action>
      <store name="SEQUENCE-ID" entity="sequence-number"></store>
    </action>
   </receive>

   <send channel="channel-1">
    <action>
      <restore name="DIALOG-ID" entity="dialogue-id"></restore>
      <restore name="REFERENCE-ID" entity="reference-id"></restore>
      <restore name="SEQUENCE-ID" entity="sequence-number"></restore>
    </action>
     <message name="next-query-resp">
     </message>
   </send>


   <receive channel="channel-1">
    <message name="call-complete-req">
    </message>
    <action>
      <store name="SEQUENCE-ID" entity="sequence-number"></store>
    </action>
   </receive>

   <send channel="channel-1">
    <action>
      <restore name="DIALOG-ID" entity="dialogue-id"></restore>
      <restore name="REFERENCE-ID" entity="reference-id"></restore>
      <restore name="SEQUENCE-ID" entity="sequence-number"></restore>
    </action>
     <message name="call-complete-resp">
     </message>
   </send>


</traffic>

</scenario>











